.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

/* TO HIDE NGCLOAK ELEMENTS ON LOADING */
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
    display: none;
}

body {

  

}

.home {
    /*padding-top: 60px;  If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding: 260px 0;
    background: url(../img/intro-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    background-color: #000;
    color: #f8f8f8;
    /*text-shadow: 1px 1px 2px rgba(0,0,0,0.5); */   
}

.contact {
    padding: 260px 0;
    background: url(../img/contact-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    background-color: #000;
    color: #f8f8f8;
    /*text-shadow: 1px 1px 2px rgba(0,0,0,0.5); */   
}





/* WHITE GRADIENT */

form.well{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border: 0.2px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  color: #333;

  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}




.panel, .well{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border: 0.2px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;

  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.table{
  
  border: 0.2px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;


  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}