<!-- BREADCRUMB -->
<div class="container">
	<div class="row">
		<ul class="col-xs-12 list-unstyled">
			<li><a href="#"><i class="fa fa-home gi-2x" aria-hidden="true"></i> {{home.title}}</a></li>
		</ul>
	</div>	
</div>
<!-- CONTENT -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{home.title}}</h1>
                    <h3>web client micro framework |  {{ language }} </h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /end CONTENT -->

														